:root{
    --infront-index: 3;
    --logo-index: -1;
    --lr-index: 2;
}
*{
    outline: 1px solid red;
}

html, body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

#infront{
    height: 25vh;
    width: 50%;
    margin: 0;
    padding-left: 1vw;
    padding-right: 1vw;
    border-radius: 1rem;
    position: fixed;
    z-index: var(--infront-index);

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transform: translate(50%, 50%);
    font-size: clamp(2rem, 4vw, 3rem);
    text-shadow: 0.015em 0.015em rgb(19, 13, 13);
}

#logo{
    background-image: url("logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: 25vh;
    height: 25vh;
    padding: 0;
    margin: 0;
    position: fixed;
    z-index: var(--logo-index);
}

#main{
    height: 100%;
    width: 100%;
    display: flex;
    overflow-x: hidden;
}

#left, #right{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#left{
    background-color: rgb(52, 199, 15);
    transform: skewX(-15deg) scaleX(1.5) translateX(-8.35vw);
    transition: 1s ease-in-out;
}

#left:hover{
    transform: skewX(-15deg) scaleX(1.65) translateX(-7.35vw);
    font-size: 1.5em;
    cursor: pointer;
    z-index: var(--lr-index);
}

#right{
    background-color: rgb(230, 174, 71);
    transform: skewX(-15deg) scaleX(1.5) translateX(8.35vw);
    transition: 1s ease-in-out;
}

#right:hover{
    transform: skewX(-15deg) scaleX(1.65) translateX(7.35vw);
    font-size: 1.5em;
    cursor: pointer;
    z-index: var(--lr-index);
}

@media screen and (orientation:portrait){
    #infront{
        transform: translate(50%, 150%);
    }

    #main{
        flex-direction: column;
        overflow-y: hidden;
    }

    #left, #right{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #left{
        transform: skewX(0deg) scaleX(1) translateX(0);
    }

    #left:hover{
        transform: skewX(0deg) scaleY(1.05) translateY(1vh);
        font-size: 1.5em;
        cursor: pointer;
        z-index: var(--lr-index);
    }
    
    #right{
        transform: skewX(0deg) scaleX(1) translateX(0);
    }

    #right:hover{
        transform: skewX(0deg) scaleY(1.05) translateY(-1vh);
        font-size: 1.5em;
        cursor: pointer;
        z-index: var(--lr-index);
    }
}